*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
}
$crna: rgb(0, 0, 0);
$bela: rgb(255, 255, 255);
$mag: rgba(219, 10, 132, 0.74);
$cen: center;
$f: flex;
@mixin flex{
    display: $f;
    flex-wrap: wrap;
}
.tal{
    text-align: $cen;
}
nav a:hover, #logo h1 a:hover{
    color:  $mag;
    transition:0.5s;
                cursor:pointer;
}
header{
    display: $f;
    justify-content: space-around;
    align-items: $cen;
    padding: 1% 0 ;
    background-color: $crna;
    border-bottom: 1px solid  $mag;
    width: 100%;
    #logo{
        h1{
            a{
                color: $bela;
                font-size: 45px;
            }
        }
    }
    ul{
        margin-top: 1.45%;
        li{
            display: inline;
            padding: 0 20px;
            a{
                color: $bela;
                font-size: 19px;
            }
        }
    }
}
body{
    background-color: $crna;
}
main{
    padding-top: 2%;
    #c{
        display: $f;
        justify-content: $cen;
        align-items: $cen;

        img{
            width: 43%; 
        }
        #t{
            margin-bottom: 6%;
            padding-right: 15%;
            h2{
                color: $bela;
                font-size: 40px;
                border-bottom: 1px solid $mag;
            }
            p{
                color: $bela;
                font-size: 25px;
            }
        }
    }
    .s{ 
        margin-top: 5%;
        h3{
            color: $bela;
            text-align: $cen;
            margin:0 auto;
            font-size: 30px;
            border-bottom: 1px solid $mag;
            width: 150px;
            
        }
    }
}
#be{
    @include flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    .d{
       background-color: $mag;
        width: 22%;
        margin-top: 100px;
        border-radius: 7%;
        i{
                color: $crna;
                font-size: 110px;
                padding-top: 40px;
        }
        h4{
            @extend .tal;
            font-size: 20px;
            padding: 5px 0;
        }
        p{
            @extend h4;
            padding: 0 10px;
            margin-bottom: 20px;
        }
    }
}
#idi{
    @include flex;
    justify-content: $cen;
    .z{
        @include flex;
        background-color: $mag;
        padding: 10px 0px 5px;
        margin: 100px 10px 0;
        h4{
            @extend .tal;
            padding-bottom: 5px;
            font-size: 20px;
            color: $crna;
        }
        h5{
            @extend h4;
        }
        p{
            @extend .tal;
            color: $crna;
        }
    }
}
#m{ 
    @include flex;
    justify-content: $cen;
    align-items: $cen;
    margin:70px auto 0;
    width: 50%;
    margin-bottom: 100px;
    padding: 40px;
    
    img{
        width: 200px;
        border-radius: 50%;
        border: 3px solid $mag;
    }
    #x{
        width: 70%;
        padding: 10px;
        margin-top: 20px;
        p{
            color: $bela;
            @extend .tal;
            font-size: 20px;
            
        }
        #n{
            background-color: $mag;
            width: 200px;
            padding: 10px;
            margin: 10px auto 0;
        }
    }
}
#f{
    
    margin:0px auto;
    @include flex;
    justify-content: center;
    .block{
        
        padding: 60px;
        margin-right: 40px;       
        h4{
            font-size: 30px;
            margin-bottom: 20px;
            color: $bela;
            text-align: $cen;
            border-bottom: 1px solid $mag;
            
        }
        p{
            font-size: 20px;
            margin-bottom: 10px;
            color: $bela;
        }
        i{
            color: $mag;
        }
        #gmap_canvas{
            margin-top: 10px;
        }
        #Name, #Email, #message, #butt{
            width: 550px;
            padding: 10px;
            resize: none;
            outline:none;
            background-color: $crna;
            border: 0.4px solid gray;
            color: $bela;
        }
        #butt{
            width: 100%;
            color: $bela;
            &:hover{
                background-color:$mag;
                transition:0.5s;
                cursor:pointer;
            }
        }
        #message{
            width: 96%;
        }
    }
}
footer{
    border-top: 1px solid $mag;
    @include flex;
    justify-content: $cen;
    padding: 20px;
    .l{
        padding: 8px 60px;
        color:$bela;
        font-size: 18px;
        li{
            display: inline;
            a{
                color:$bela;
                margin-right: 10px;
                &:hover{
                    color:$mag
                }
            }
           
        }
    }
    
}
